@font-face {
    font-family: 'antipasto_pro_regular';
    src: url('fonts/antipasto-pro-regular-trial-webfont.woff2') format('woff2'),
        url('fonts/antipasto-pro-regular-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'antipasto_pro_regular';
}

p {
    font-family: 'segoe ui';
}

#mots {
    padding-bottom: 40px;
}

#mots h5,
#mots p {
    padding-bottom: 16px;
}

.titreFlex {
    font-family: 'antipasto_pro_regular';
}

#sliderTexte {
    bottom: -16px;
}

.titreBarres::before,
.titreBarres::after {
    display: inline-block;
    vertical-align: middle;
    height: 3px;
    width: 100px;
    background: #DEE2E6;
    content: "";
}

#enAvant a{
    padding-bottom: 16px;
}
#resa {
    background-image: url(images/fond-book.png);
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}


/* je ne sais pas pourquoi, mais la class 
absolute et les top, left et width ne fonctionnent pas avec bootstrap */
#resa{
    width: 40%;
}

#clic{
    top: 135px;
    left: 20px;
}


#mots{
    width: 50%;
}

#resaListe{
    position: absolute;
    top: 210px;
}

#news1, #news2 {
    max-width: 48%;
}

@media (min-width: 768px) {

    #news1,
    #news2 {
        max-width: 100%;
    }

    #bloc1 {
        margin-right: 20px;
    }
}

/* ...et pourquoi j'ai ce grand espace vide en fin de main??? */