@font-face {
    font-family: 'antipasto_pro_regular';
    src: url('fonts/antipasto-pro-regular-trial-webfont.woff2') format('woff2'),
        url('fonts/antipasto-pro-regular-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h*{
    font-family: 'antipasto_pro_regular';
}

p {
    font-family: 'segoe ui';
}

#mots {
    padding-bottom: 40px;
}

#mots h5,
#mots p {
    padding-bottom: 16px;
}

.titreFlex {
    font-family: 'antipasto_pro_regular';
}

#sliderTexte {
    bottom: -16px;
}

#titre1,
#titre2 {
    display: flex;
    font-family: 'antipasto_pro_regular';
  }
  
#titre1::before,
#titre1::after,
#titre2::before,
#titre2::after {
  content: "";
  flex:1;
  align-self: center;
  border-bottom: 3px solid #DEE2E6;
  margin: 0 .3em;
}

#enAvant a{
    padding-bottom: 16px;
}

#resaTexte{
    top: 10px;
    left: 15px;
}

#clic{
    top: 178px;
    left: 15px; 
}

#mots{
    width: 50%;
}

#resaListe{
    top:300px;
}

#news1, #news2 {
    max-width: 48%;
}

@media (min-width: 768px) {

    #news1,
    #news2 {
        max-width: 100%;
    }

    #bloc1 {
        margin-right: 20px;
    }
}